body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.custom-marker {
  width: 5px; /* Adjust size */
  height: 5px;
  background-color: blue; /* Default color */
  border-radius: 50%;
  border: 1px solid white;
  cursor: pointer;
}
.side-panel {
  position: absolute;
  top: 100px;
  right: 10px;
  background: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.hoa-header {
  display: flex;
  align-items: center; /* Aligns items vertically */
  gap: 10px; /* Adds spacing between icon & text */
  justify-content: left; /* Centers both horizontally */
  padding: 10px;
}

.hoa-icon {
  width: 40px;  /* Adjust to match text height */
  height: auto; /* Maintain aspect ratio */
}

.hoa-title {
  font-size: 24px; /* Adjust for consistency */
  font-weight: bold;
}